*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-gray: #dfdfe2;
  --light-blue: #99c9ff;
  --dark-blue: #0a0a23;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#fcc-logo {
  height: 30px;
}

h1 {
  font-size: 2.5rem;
}

#change-due {
  font-size: 1.2rem;
}

label {
  font-size: 1.2rem;
}

input {
  width: 200px;
  height: 30px;
  padding: 10px;
  font: inherit;
  margin-top: -10px;
}

#purchase-btn {
  width: 100px;
  height: 30px;
  background-color: #feac32;
  color: #0a0a23;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#price-screen {
  width: 200px;
  height: 50px;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-screen {
  width: 180px;
  height: 30px;
  background-color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#connector {
  width: 40px;
  height: 30px;
  background-color: var(--light-blue);
  position: relative;
  right: 60px;
}

#register-main {
  width: 325px;
  height: 250px;
  background-color: var(--light-blue);
  border-radius: 35px 35px 0 0;
  padding: 20px;
  display: flex;
  gap: 40px;
}

#keypad {
  width: 70px;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.keys {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background-color: black;
}

#screen {
  background-color: white;
  color: black;
  padding: 10px;
  line-height: 1.35;
  font-size: 1.1rem;
}

#drawer {
  width: 325px;
  height: 50px;
  background-color: var(--light-blue);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#handle {
  background-color: var(--dark-blue);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
